
<section class="vh-100">
  <div class="py-5 ">

    <div class="row justify-content-center align-items-center" >
      <div class=" col-12 col-lg-4 ">

        <div class="p-5">

          <h1 class="p-4"> Welcome to Car App created by The one and only NEPATH</h1>
          <p class="pt-3"> To jest aplikcja lorem impsum coś tam coś pozdrawiam wszystkich
            czyli PS (<= to inicjały),  Ayako Larrego (może mniej), Mulu, bo ULU MULU przyjaźni znak, A jak obcy weźmie ulu mulu to nie zginie (TAK I TAK)
          zapraszam serdecznie do zarejestrowania sie, dobra aplikacja można zrobić wszystko</p>
        </div>


      </div>
      <div class="d-none d-lg-block col-lg-4 b p-5" >
        <img src="assets/images/people.png " class="img-fluid">
      </div>
    </div>
  </div>

</section>
