@import "styles/colors";
@import "styles/buttons";

body {
  background-color: #141617 !important;
  height: 100%;
  width: 100%;
  position: absolute;
  color: $text-color !important;

}
.background-dots {
  height: 600px;
  width: 100%;
  position: absolute;
  z-index: -1;
  left:0;
  top: 0;

  filter: blur(8rem);
  background-image: radial-gradient(circle at 15%, $color-primary 0%, $color-background 14%);
  background-repeat: no-repeat;
  background-size: 100%;
}

#text-secondary {
  color: $text-color-secondary
}

#text-primary {
  color: $text-color;
}

.color-on-surface {
  background-color: $color-on-surface;
}

.border-color-primary {
  border-color: $color-primary !important;
}

.border-color-secondary {
  border-color: $text-color-secondary;
}

.tr {
  color: $text-color;
  th {
  }
}

.table-striped > tbody > tr > td, .table-striped > tbody > tr > th {
  background-color: transparent;
  border-color: $text-color-secondary;
  color: $text-color;
}

.table-striped > thead > tr > th {
  background-color: $color-background;
  color: $text-color;
  border-color: $text-color;
}

.color-primary {
  color: $color-primary;
}
